# How to scrape data from FotMob?

In [ ]:
!pip install bs4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bs4 in /usr/local/lib/python3.8/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from bs4) (4.6.3)

In [ ]:
import json
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
#input the url for the target game
url = "https://www.fotmob.com/match/3918144/matchfacts/villarreal-vs-barcelona"

In [ ]:
# get the html code for that url
r = requests.get(url)
html = r.text
soup = BeautifulSoup(html, "html.parser")

In [ ]:
# get the data as json
data = json.loads(soup.find("script", attrs={"id": "__NEXT_DATA__"}).text)

## You can use "https://codebeautify.org/jsonviewer " to see the json data as a tree

![image.png]()

In [ ]:
# select props -> pageProps to get the useful data

useful_data = data["props"]["pageProps"]

## let's get for example stats of all the players in this game

In [ ]:
# select props -> pageProps -> content -> lineup to get the lineup

lineups = useful_data["content"]["lineup"]['lineup']

## Now let's get data of all players for both teams

In [ ]:
# let's see the dataframe for bench players for team1

lineup_team1 = lineups[0]
pd.DataFrame(lineup_team1["bench"])

,id,usingOptaId,name,imageUrl,pageUrl,shirt,isHomeTeam,timeSubbedOn,timeSubbedOff,usualPosition,...,role,isCaptain,events,rating,fantasyScore,minutesPlayed,shotmap,stats,teamData,positionStringShort
0,688300,False,"{'firstName': 'Samuel', 'lastName': 'Chukwueze'}",https://images.fotmob.com/image_resources/play...,/players/688300/samuel-chukwueze,11,True,36.0,None,2,...,Midfielder,False,{'sub': {'subbedIn': 36}},"{'num': '6.7', 'bgcolor': '#f08022', 'isTop': ...",{'bgcolor': 'purple'},54,"[{'id': 2507297755, 'eventType': 'Miss', 'team...","[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None
1,1127224,False,"{'firstName': 'Fer', 'lastName': 'Nino'}",https://images.fotmob.com/image_resources/play...,/players/1127224/fer-nino,34,True,83.0,None,3,...,Attacker,False,{'sub': {'subbedIn': 83}},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},7,"[{'id': 2507298753, 'eventType': 'Miss', 'team...","[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None
2,268282,False,"{'firstName': 'Manuel', 'lastName': 'Trigueros'}",https://images.fotmob.com/image_resources/play...,/players/268282/manuel-trigueros,14,True,83.0,None,2,...,Midfielder,False,{'sub': {'subbedIn': 83}},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},7,"[{'id': 2507301059, 'eventType': 'Miss', 'team...","[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None
3,474673,False,"{'firstName': 'Johan', 'lastName': 'Mojica'}",https://images.fotmob.com/image_resources/play...,/players/474673/johan-mojica,12,True,83.0,None,1,...,Defender,False,{'sub': {'subbedIn': 83}},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},7,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None
4,1202587,False,"{'firstName': 'Ramon', 'lastName': 'Terrats'}",https://images.fotmob.com/image_resources/play...,/players/1202587/ramon-terrats,39,True,NaN,None,2,...,Midfielder,False,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None
5,210683,False,"{'firstName': 'Aissa', 'lastName': 'Mandi'}",https://images.fotmob.com/image_resources/play...,/players/210683/aissa-mandi,23,True,NaN,None,1,...,Defender,False,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None
6,821728,False,"{'firstName': 'Jorge', 'lastName': 'Cuenca'}",https://images.fotmob.com/image_resources/play...,/players/821728/jorge-cuenca,5,True,NaN,None,1,...,Defender,False,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None
7,175311,False,"{'firstName': '', 'lastName': 'Kiko'}",https://images.fotmob.com/image_resources/play...,/players/175311/kiko,2,True,NaN,None,1,...,Defender,False,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None
8,1101270,False,"{'firstName': 'Iker', 'lastName': 'lvarez'}",https://images.fotmob.com/image_resources/play...,/players/1101270/iker-lvarez,31,True,NaN,None,0,...,Keeper,False,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None

In [ ]:
# Create an empty dataframe using pandas
df = pd.DataFrame([])

# Iterate through each lineup in the list of lineups
for lineup in lineups:
    # Extract the team name and bench information from the lineup
    teamname = lineup["teamName"]
    bench = pd.DataFrame(lineup["bench"])
    
    # Extract player information from the lineup
    players_list = lineup["players"]
    new_df = bench
    
    # For each player in the lineup, create a new dataframe with their information
    for players in players_list:
        df_players = pd.DataFrame(players)
        new_df = pd.concat([new_df, df_players], ignore_index=True)
    
    # Add the team name to the new dataframe
    new_df["teamName"] = teamname
    
    # Append the new dataframe to the main dataframe
    df = pd.concat([df, new_df], ignore_index=True)

In [ ]:
df

,id,usingOptaId,name,imageUrl,pageUrl,shirt,isHomeTeam,timeSubbedOn,timeSubbedOff,usualPosition,...,events,rating,fantasyScore,minutesPlayed,shotmap,stats,teamData,positionStringShort,teamName,shortName
0,688300,False,"{'firstName': 'Samuel', 'lastName': 'Chukwueze'}",https://images.fotmob.com/image_resources/play...,/players/688300/samuel-chukwueze,11,True,36.0,NaN,2,...,{'sub': {'subbedIn': 36}},"{'num': '6.7', 'bgcolor': '#f08022', 'isTop': ...",{'bgcolor': 'purple'},54,"[{'id': 2507297755, 'eventType': 'Miss', 'team...","[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Villarreal,NaN
1,1127224,False,"{'firstName': 'Fer', 'lastName': 'Nino'}",https://images.fotmob.com/image_resources/play...,/players/1127224/fer-nino,34,True,83.0,NaN,3,...,{'sub': {'subbedIn': 83}},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},7,"[{'id': 2507298753, 'eventType': 'Miss', 'team...","[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Villarreal,NaN
2,268282,False,"{'firstName': 'Manuel', 'lastName': 'Trigueros'}",https://images.fotmob.com/image_resources/play...,/players/268282/manuel-trigueros,14,True,83.0,NaN,2,...,{'sub': {'subbedIn': 83}},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},7,"[{'id': 2507301059, 'eventType': 'Miss', 'team...","[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Villarreal,NaN
3,474673,False,"{'firstName': 'Johan', 'lastName': 'Mojica'}",https://images.fotmob.com/image_resources/play...,/players/474673/johan-mojica,12,True,83.0,NaN,1,...,{'sub': {'subbedIn': 83}},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},7,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Villarreal,NaN
4,1202587,False,"{'firstName': 'Ramon', 'lastName': 'Terrats'}",https://images.fotmob.com/image_resources/play...,/players/1202587/ramon-terrats,39,True,NaN,NaN,2,...,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Villarreal,NaN
5,210683,False,"{'firstName': 'Aissa', 'lastName': 'Mandi'}",https://images.fotmob.com/image_resources/play...,/players/210683/aissa-mandi,23,True,NaN,NaN,1,...,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Villarreal,NaN
6,821728,False,"{'firstName': 'Jorge', 'lastName': 'Cuenca'}",https://images.fotmob.com/image_resources/play...,/players/821728/jorge-cuenca,5,True,NaN,NaN,1,...,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Villarreal,NaN
7,175311,False,"{'firstName': '', 'lastName': 'Kiko'}",https://images.fotmob.com/image_resources/play...,/players/175311/kiko,2,True,NaN,NaN,1,...,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Villarreal,NaN
8,1101270,False,"{'firstName': 'Iker', 'lastName': 'lvarez'}",https://images.fotmob.com/image_resources/play...,/players/1101270/iker-lvarez,31,True,NaN,NaN,0,...,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Villarreal,NaN
9,30660,False,"{'firstName': 'Pepe', 'lastName': 'Reina'}",https://images.fotmob.com/image_resources/play...,/players/30660/pepe-reina,1,True,None,NaN,0,...,{},"{'num': '7.0', 'bgcolor': '#1ec853', 'isTop': ...",{'bgcolor': 'purple'},90,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",GK,Villarreal,NaN
10,833219,False,"{'firstName': 'Juan', 'lastName': 'Foyth'}",https://images.fotmob.com/image_resources/play...,/players/833219/juan-foyth,8,True,None,NaN,1,...,{},"{'num': '7.3', 'bgcolor': '#1ec853', 'isTop': ...",{'bgcolor': 'purple'},90,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",RB,Villarreal,NaN
11,34029,False,"{'firstName': 'Raul', 'lastName': 'Albiol'}",https://images.fotmob.com/image_resources/play...,/players/34029/raul-albiol,3,True,None,NaN,1,...,{},"{'num': '7.2', 'bgcolor': '#1ec853', 'isTop': ...",{'bgcolor': 'purple'},90,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",CB,Villarreal,NaN
12,792645,False,"{'firstName': 'Pau', 'lastName': 'Torres'}",https://images.fotmob.com/image_resources/play...,/players/792645/pau-torres,4,True,None,NaN,1,...,{'yc': 1},"{'num': '7.6', 'bgcolor': '#1ec853', 'isTop': ...",{'bgcolor': 'purple'},90,"[{'id': 2507288283, 'eventType': 'AttemptSaved...","[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",CB,Villarreal,NaN
13,314605,False,"{'firstName': 'Alberto', 'lastName': 'Moreno'}",https://images.fotmob.com/image_resources/play...,/players/314605/alberto-moreno,18,True,None,83.0,1,...,"{'yc': 1, 'sub': {'subbedOut': 83}}","{'num': '6.7', 'bgcolor': '#f08022', 'isTop': ...",{'bgcolor': 'purple'},83,"[{'id': 2507283487, 'eventType': 'Miss', 'team...","[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",LB,Villarreal,NaN
14,41365,False,"{'firstName': 'tienne', 'lastName': 'Capoue'}",https://images.fotmob.com/image_resources/play...,/players/41365/tienne-capoue,6,True,None,NaN,2,...,{},"{'num': '6.2', 'bgcolor': '#f08022', 'isTop': ...",{'bgcolor': 'purple'},90,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",RM,Villarreal,NaN
15,159594,False,"{'firstName': 'Francis', 'lastName': 'Coquelin'}",https://images.fotmob.com/image_resources/play...,/players/159594/francis-coquelin,19,True,None,36.0,2,...,{'sub': {'subbedOut': 36}},"{'num': '6.0', 'bgcolor': '#f08022', 'isTop': ...",{'bgcolor': 'purple'},36,"[{'id': 2507268659, 'eventType': 'AttemptSaved...","[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",CM,Villarreal,NaN
16,75307,False,"{'firstName': 'Daniel', 'lastName': 'Parejo'}",https://images.fotmob.com/image_resources/play...,/players/75307/daniel-parejo,10,True,None,NaN,2,...,{'yc': 1},"{'num': '7.6', 'bgcolor': '#1ec853', 'isTop': ...",{'bgcolor': 'purple'},90,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",CM,Villarreal,NaN
17,942372,False,"{'firstName': 'lex', 'lastName': 'Baena'}",https://images.fotmob.com/image_resources/play...,/players/942372/lex-baena,16,True,None,83.0,2,...,"{'yc': 1, 'sub': {'subbedOut': 83}}","{'num': '6.2', 'bgcolor': '#f08022', 'isTop': ...",{'bgcolor': 'purple'},83,"[{'id': 2507290329, 'eventType': 'Miss', 'team...","[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",LM,Villarreal,NaN
18,477472,False,"{'firstName': 'Jos Luis', 'lastName': 'Morales'}",https://images.fotmob.com/image_resources/play...,/players/477472/jos-luis-morales,22,True,None,83.0,3,...,{'sub': {'subbedOut': 83}},"{'num': '5.8', 'bgcolor': '#f08022', 'isTop': ...",{'bgcolor': 'purple'},83,"[{'id': 2507263781, 'eventType': 'AttemptSaved...","[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",CF,Villarreal,NaN
19,1047676,False,"{'firstName': 'Yremi', 'lastName': 'Pino'}",https://images.fotmob.com/image_resources/play...,/players/1047676/yremi-pino,21,True,None,NaN,2,...,{},"{'num': '5.8', 'bgcolor': '#f08022', 'isTop': ...",{'bgcolor': 'purple'},90,"[{'id': 2507284855, 'eventType': 'AttemptSaved...","[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",CF,Villarreal,NaN
20,881771,False,"{'firstName': 'Ferran', 'lastName': 'Torres'}",https://images.fotmob.com/image_resources/play...,/players/881771/ferran-torres,11,False,81.0,None,3,...,{'sub': {'subbedIn': 81}},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},9,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Barcelona,NaN
21,150739,False,"{'firstName': 'Jordi', 'lastName': 'Alba'}",https://images.fotmob.com/image_resources/play...,/players/150739/jordi-alba,18,False,89.0,None,1,...,{'sub': {'subbedIn': 89}},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},1,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Barcelona,NaN
22,1403694,False,"{'firstName': 'ngel', 'lastName': 'Alarcon'}",https://images.fotmob.com/image_resources/play...,/players/1403694/ngel-alarcon,38,False,NaN,None,3,...,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Barcelona,NaN
23,1086012,False,"{'firstName': 'Ansu', 'lastName': 'Fati'}",https://images.fotmob.com/image_resources/play...,/players/1086012/ansu-fati,10,False,NaN,None,3,...,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Barcelona,NaN
24,1233404,False,"{'firstName': 'Pablo', 'lastName': 'Torre'}",https://images.fotmob.com/image_resources/play...,/players/1233404/pablo-torre,32,False,NaN,None,2,...,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Barcelona,NaN
25,940573,False,"{'firstName': 'Eric', 'lastName': 'Garcia'}",https://images.fotmob.com/image_resources/play...,/players/940573/eric-garcia,24,False,NaN,None,1,...,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Barcelona,NaN
26,196169,False,"{'firstName': 'Marcos', 'lastName': 'Alonso'}",https://images.fotmob.com/image_resources/play...,/players/196169/marcos-alonso,17,False,NaN,None,1,...,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Barcelona,NaN
27,212472,False,"{'firstName': 'Sergi', 'lastName': 'Roberto'}",https://images.fotmob.com/image_resources/play...,/players/212472/sergi-roberto,20,False,NaN,None,1,...,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Barcelona,NaN
28,942375,False,"{'firstName': 'Arnau', 'lastName': 'Tenas'}",https://images.fotmob.com/image_resources/play...,/players/942375/arnau-tenas,36,False,NaN,None,0,...,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Barcelona,NaN
29,990996,False,"{'firstName': 'Inaki', 'lastName': 'Pena'}",https://images.fotmob.com/image_resources/play...,/players/990996/inaki-pena,13,False,NaN,None,0,...,{},"{'num': None, 'bgcolor': '#989898', 'isTop': {...",{'bgcolor': 'purple'},0,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",None,Barcelona,NaN
30,1279040,False,"{'firstName': '', 'lastName': 'Gavi'}",https://images.fotmob.com/image_resources/play...,/players/1279040/gavi,6,False,None,NaN,2,...,{},"{'num': '7.3', 'bgcolor': '#1ec853', 'isTop': ...",{'bgcolor': 'purple'},90,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",LW,Barcelona,Gavi
31,93447,False,"{'firstName': 'Robert', 'lastName': 'Lewandows...",https://images.fotmob.com/image_resources/play...,/players/93447/robert-lewandowski,9,False,None,NaN,3,...,{'as': 1},"{'num': '8.2', 'bgcolor': '#1ec853', 'isTop': ...",{'bgcolor': 'purple'},90,"[{'id': 2507256039, 'eventType': 'AttemptSaved...","[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",CF,Barcelona,NaN
32,696679,False,"{'firstName': '', 'lastName': 'Raphinha'}",https://images.fotmob.com/image_resources/play...,/players/696679/raphinha,22,False,None,81.0,3,...,"{'yc': 1, 'sub': {'subbedOut': 81}}","{'num': '7.2', 'bgcolor': '#1ec853', 'isTop': ...",{'bgcolor': 'purple'},81,"[{'id': 2507289055, 'eventType': 'Miss', 'team...","[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",RW,Barcelona,NaN
33,579747,False,"{'firstName': 'Franck', 'lastName': 'Kessi'}",https://images.fotmob.com/image_resources/play...,/players/579747/franck-kessi,19,False,None,89.0,2,...,{'sub': {'subbedOut': 89}},"{'num': '7.4', 'bgcolor': '#1ec853', 'isTop': ...",{'bgcolor': 'purple'},89,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",CM,Barcelona,NaN
34,638622,False,"{'firstName': 'Frenkie', 'lastName': 'de Jong'}",https://images.fotmob.com/image_resources/play...,/players/638622/frenkie-de-jong,21,False,None,NaN,2,...,{'yc': 1},"{'num': '8.2', 'bgcolor': '#0e87e0', 'isTop': ...",{'bgcolor': 'purple'},90,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",CM,Barcelona,NaN
35,1083323,False,"{'firstName': '', 'lastName': 'Pedri'}",https://images.fotmob.com/image_resources/play...,/players/1083323/pedri,8,False,None,NaN,2,...,{'g': 1},"{'num': '8.0', 'bgcolor': '#1ec853', 'isTop': ...",{'bgcolor': 'purple'},90,"[{'id': 2507263115, 'eventType': 'Goal', 'team...","[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",CM,Barcelona,NaN
36,1254166,False,"{'firstName': 'lex', 'lastName': 'Balde'}",https://images.fotmob.com/image_resources/play...,/players/1254166/lex-balde,28,False,None,None,1,...,{},"{'num': '7.4', 'bgcolor': '#1ec853', 'isTop': ...",{'bgcolor': 'purple'},90,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",LB,Barcelona,NaN
37,449232,False,"{'firstName': 'Andreas', 'lastName': 'Christen...",https://images.fotmob.com/image_resources/play...,/players/449232/andreas-christensen,15,False,None,None,1,...,{},"{'num': '7.0', 'bgcolor': '#1ec853', 'isTop': ...",{'bgcolor': 'purple'},90,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",CB,Barcelona,NaN
38,921253,False,"{'firstName': 'Ronald', 'lastName': 'Araujo'}",https://images.fotmob.com/image_resources/play...,/players/921253/ronald-araujo,4,False,None,None,1,...,{'yc': 1},"{'num': '7.9', 'bgcolor': '#1ec853', 'isTop': ...",{'bgcolor': 'purple'},90,"[{'id': 2507292555, 'eventType': 'Miss', 'team...","[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",CB,Barcelona,NaN
39,705450,False,"{'firstName': 'Jules', 'lastName': 'Kound'}",https://images.fotmob.com/image_resources/play...,/players/705450/jules-kound,23,False,None,None,1,...,{'yc': 1},"{'num': '7.2', 'bgcolor': '#1ec853', 'isTop': ...",{'bgcolor': 'purple'},90,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",RB,Barcelona,NaN
40,184554,False,"{'firstName': 'Marc-Andre', 'lastName': 'ter S...",https://images.fotmob.com/image_resources/play...,/players/184554/marc-andre-ter-stegen,1,False,None,None,0,...,{},"{'num': '7.3', 'bgcolor': '#1ec853', 'isTop': ...",{'bgcolor': 'purple'},90,[],"[{'title': 'Top stats', 'stats': {'FotMob rati...","{'home': {'id': 10205, 'color': '#153662'}, 'a...",GK,Barcelona,NaN

# Save the dataset as csv

In [ ]:
df.to_csv("players_stats_villareal_vs_fcbarcelona.csv")